<!DOCTYPE html>

<head>
    <%- include('partials/head'); %>
        <link rel="stylesheet" href="css/contenedor_productos.css">
</head>

<body>
    <header>
        <%- include('partials/header'); %>
    </header>

    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="#">Acerca de Nosotros</a>
            <a href="/register">Registrarse</a>
            <a href="/login">Ingresar</a>
        </div>
    </div>

    <section class="banner">
        <img src="/images/bannerAutoya.jpg" class="banner">
    </section>
    <Main>
        <div class="title-cards">
            <h2>Autos Mas Vendidos del Mes</h2>
        </div>
        <div class="container-card">

            <div class="card">
                <figure>
                    <img src="/images/<%= productosMain[0].img %>">
                </figure>
                <div class="contenido-card">
                    <h3>
                        <%= productosMain[0].titulo %>
                    </h3>
                    <p>
                        Modelo:
                        <%= productosMain[0].Modelo %>
                    </p>
                    <p>
                        Año:
                        <%= productosMain[0].Año %>
                    </p>
                    <p>
                        Precio:
                        <%= Number.parseFloat(productosMain[0].precio).toFixed(2) %>
                    </p>
                    <a href="/description">Mas Informacion</a>
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="/images/<%= productosMain[1].img %>">
                </figure>
                <div class="contenido-card">
                    <h3>
                        <%= productosMain[1].titulo %>
                    </h3>
                    <p>
                        Modelo:
                        <%= productosMain[1].Modelo %>
                    </p>
                    <p>
                        Año:
                        <%= productosMain[1].Año %>
                    </p>
                    <p>
                        Precio:
                        <%= Number.parseFloat(productosMain[1].precio).toFixed(2) %>
                    </p>
                    <a href="/description">Mas Informacion</a>
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="/images/<%= productosMain[2].img %>">
                </figure>
                <div class="contenido-card">
                    <h3>
                        <%= productosMain[2].titulo %>
                    </h3>
                    <p>
                        Modelo:
                        <%= productosMain[2].Modelo %>
                    </p>
                    <p>
                        Año:
                        <%= productosMain[2].Año %>
                    </p>
                    <p>
                        Precio:
                        <%= Number.parseFloat(productosMain[2].precio).toFixed(2) %>
                    </p>
                    <a href="/description">Mas Informacion</a>
                </div>
            </div>
        </div>

        <div class="container-card">

            <div class="card">
                <figure>
                    <img src="/images/<%= productosMain[3].img %>">
                </figure>
                <div class="contenido-card">
                    <h3>
                        <%= productosMain[3].titulo %>
                    </h3>
                    <p>
                        Modelo:
                        <%= productosMain[3].Modelo %>
                    </p>
                    <p>
                        Año:
                        <%= productosMain[3].Año %>
                    </p>
                    <p>
                        Precio:
                        <%= Number.parseFloat(productosMain[3].precio).toFixed(2) %>
                    </p>
                    <a href="/description">Mas Informacion</a>
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="/images/<%= productosMain[4].img %>">
                </figure>
                <div class="contenido-card">
                    <h3>
                        <%= productosMain[4].titulo %>
                    </h3>
                    <p>
                        Modelo:
                        <%= productosMain[4].Modelo %>
                    </p>
                    <p>
                        Año:
                        <%= productosMain[4].Año %>
                    </p>
                    <p>
                        Precio:
                        <%= Number.parseFloat(productosMain[4].precio).toFixed(2) %>
                    </p>
                    <a href="/description">Mas Informacion</a>
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="/images/<%= productosMain[5].img %>">
                </figure>
                <div class="contenido-card">
                    <h3>
                        <%= productosMain[5].titulo %>
                    </h3>
                    <p>
                        Modelo:
                        <%= productosMain[5].Modelo %>
                    </p>
                    <p>
                        Año:
                        <%= productosMain[5].Año %>
                    </p>
                    <p>
                        Precio:
                        <%= Number.parseFloat(productosMain[5].precio).toFixed(2) %>
                    </p>
                    <a href="/description">Mas Informacion</a>
                </div>
            </div>
        </div>
    </Main>
    <footer>
        <%- include('partials/footer'); %>
    </footer>

</body>

</html>